.footer{
    padding:25px;
    background-color:$dark-grey;
    color:$white;
    @include GeneralFont;
    &__heading{
        @include SpecialFont;
        font-size: 25px;
        margin:0;
    }
    ul{
        list-style-type: none;
        padding:0;
    }
    a{
        text-decoration: none;
        color:$white;
    }
    &__item{
        padding:5px 0 5px 0;
    }
    i{
        display: inline-block;
        width:20px;
        margin-right:10px;
    }
}