.menu{
    background-color: $light-grey;
    z-index: 2;
    position:relative;
    margin-top:-75px;
    border-radius: 50px 50px 0 0;
    padding-bottom:50px;
    @include GeneralFont;
    &__heading{
        @include SpecialFont;
        @include sectionHeading;
    }
    &__container{
        display:flex;
        flex-direction: column;
        gap:15px;
        justify-content: space-around;
        align-items: center;
    }
    .dishes{
        width:90%;
        margin:0 auto 0 auto;
        &__heading{
            font-weight: 300;
            &::after{
                content:"";
                display:block;
                width:60px;
                height:5px;
                background: $color-tertiary;
            }
        }
        &__container{
            display:flex;
            flex-direction: column;
            gap:10px;
            justify-content: space-around;
            align-items: center;
        }
        .dish{
            position:relative;
            width:100%;
            background-color: $white;
            border-radius: 15px;
            @include shadow;
            padding:10px;
            overflow: hidden;
            &__name{
                font-size: 16px;
                font-weight: 700;
            }
            &__article{
                font-weight: 300;
                color:$dark-grey;
                font-size: 14px;
            }
            &__price{
                right:10px;
                bottom:10px;
                position:absolute;
                font-weight: 700;
                font-size: 16px;
                transition:transform 0.5s ease-in-out;
            }
            &__checkbox{
                width:50px;
                height:100%;
                background-color: $color-tertiary;
                position:absolute;
                right:-50px;
                top:0px;
                transition:transform 0.5s ease-in-out;
                i{
                    display: block;
                    position: absolute;
                    width:30px;
                    height: 30px;
                    background-color: #fff;
                    text-align:center;
                    line-height: 30px;
                    color:$color-tertiary;
                    font-size: 18px;
                    border:3px solid $color-tertiary;
                    border-radius: 50%;
                    @include center;
                }
            }
            &:hover{
                .dish__checkbox{
                    transform:translateX(-50px);
                }
                .dish__price{
                    transform: translateX(-50px);
                }
            }
        }
    }
    .order-btn{
        @include mediumBtn;
    }
}