.menu{
    background-color: $color-background;
    z-index: 2;
    position:relative;
    margin-top:-110px;
    border-radius: 50px 50px 0 0;
    padding-bottom:50px;
    @include GeneralFont;
    &__heading{
        @include SpecialFont;
        @include sectionHeading;
    }
    &__container{
        display:flex;
        flex-direction: column;
        gap:15px;
        justify-content: space-around;
        align-items: center;
    }
    .dishes{
        width:90%;
        margin:0 auto 0 auto;
        &__heading{
            font-weight: 300;
            &::after{
                content:"";
                display:block;
                width:60px;
                height:5px;
                background: $color-tertiary;
            }
        }
        &__container{
            display:flex;
            flex-direction: column;
            gap:10px;
            justify-content: space-around;
            align-items: center;
        }
        .dish{
            position:relative;
            width:100%;
            background-color: $white;
            border-radius: 15px;
            @include shadow-light;
            padding:10px;
            overflow: hidden;
            &__name{
                width:100%;
                font-size: 16px;
                font-weight: 700;
                overflow: hidden;
                white-space: nowrap;
                text-overflow: ellipsis;
            }
            &__article{
                font-weight: 300;
                color:darken($color: $color-background, $amount: 70);
                font-size: 12px;
                overflow: hidden;
                white-space: nowrap;
                text-overflow: ellipsis;
            }
            &__price{
                right:10px;
                bottom:10px;
                position:absolute;
                font-weight: 700;
                font-size: 16px;
                transition:transform 0.2s ease-in-out;
            }
            &__checkbox{
                width:50px;
                height:100%;
                background-color: $color-tertiary;
                position:absolute;
                right:-50px;
                top:0px;
                transition:transform 0.2s ease-in-out;
                i{
                        position:absolute;
                        @include center;
                        color:$white;
                        font-size: 22px;
                }
            }
            &:hover{
                .dish__checkbox{
                    transform:translateX(-50px);
                }
                .dish__price{
                    transform: translateX(-50px);
                }
                .dish__name{
                    width:calc(100% - 100px);
                }
                .dish__article{
                    width:calc(100% - 100px);
                }
            }
        }
    }
    .order-btn{
        @include mediumBtn;
        &:hover{
            @include shadow-dark;
            @include lighten;
        }
    }
}