.system{
    width:100%;
    margin:0 auto 25px auto;
    @include GeneralFont;
    &__heading{
        @include sectionHeading;
    }
    &__container{
        display:flex;
        flex-direction: column;
        justify-content: space-between;
        gap: 25px;
        align-items: center;
        @media screen and (min-width:768px){
            flex-direction: row;
            flex-wrap: wrap;
            padding:0 15px 0 15px;
        }
        .system-btn{
            width:90%;
            min-width:250px;
            height:100px;
            font-size: 18px;
            margin:0 auto 0 auto;
            background:linear-gradient($white, $color-background, $white);
            border-radius: 30px;
            position:relative;
            text-align:center;
            line-height: 100px;
            display:flex;
            flex-direction: row;
            @include shadow-light;
            @media screen and (min-width:992px){
                width:30%;
            }
            &__step{
                display:inline-block;
                height:30px;
                width:30px;
                background-color: $color-primary;
                color:white;
                font-weight:500;
                text-align:center;
                line-height:30px;
                border-radius: 50%;
                position:absolute;
                top:50%;
                left:-15px;
                transform:translateY(-50%);
            }
            &__logo{
                width: 70px;
                min-width: 40px;
                margin: 0 5px 0 5px;
                color:darken($color: $color-background, $amount: 80);
                text-align:center;
                flex-shrink: 0;
            }
            &__stepDescription{
                width:calc(100% - 70px);
                text-align:left;
                font-weight: 500;
            }
        }
    }
}