.heart{
    position:absolute;
    bottom:25px;
    right:20px;
    width:40px;
    height:40px;
    font-size: 25px;
    cursor:pointer;
    @include heartAnimation;
}
.heart-menu{
    position:absolute;
    width:40px;
    height:40px;
    top:20px;
    right:40px;
    font-size: 35px;
    cursor:pointer;
    @include heartAnimation;
}


