.heart{
    position:absolute;
    width:40px;
    height:40px;
    font-size: 25px;
    cursor:pointer;
    @include heartAnimation;
}
.heart--position-menu{
    top:20px;
    right:1%;
}
.heart--position-home{
    bottom:25px;
    right:20px;
}


