@keyframes cuisine{
    from {
        transform:rotate(-20deg);
    }
    25% {
        transform:rotate(20deg);
    }
    50%{
        transform:rotate(-20deg);
    }
    75%{
        transform:rotate(20deg);
    }
    to {
        transform:rotate(-20deg);
    }
 }

@keyframes hideHeader{
    from {
        transform:translateY(0vh);
    }
    80% {
        transform: translateY(0vh);
    }
    to {
        transform: translateY(-100vh);
    }
 }

@keyframes splash{
    from {
        transform:translateY(0) scale(1);
        opacity:1;
    }
    10% {
        transform:translateY(-100px) scale(2);
        opacity:0;
    }
    20% {
        transform:translateY(0) scale(1);
        opacity:1;
    }
    30% {
        transform:translateY(-100px) scale(2);
        opacity:0;
    }
    40% {
        transform:translateY(0) scale(1);
        opacity:1;
    }
    50% {
        transform:translateY(-100px) scale(2);
        opacity:0;
    }
    60% {
        transform:translateY(0) scale(1);
        opacity:1;
    }
    70% {
        transform:translateY(-100px) scale(2);
        opacity:0;
    }
    80% {
        transform:translateY(0) scale(1);
        opacity:1;
    }
    90% {
        transform:translateY(-100px) scale(2);
        opacity:0;
    }
    to {
        transform:translateY(0) scale(1);
        opacity:1;
    }
}