@mixin shadow-light{
    box-shadow: 0 0 5px 2px $grey;
}
@mixin shadow-dark{
    box-shadow:0 0 10px 5px darken($color: $grey, $amount: 20);
}
@mixin lighten{
    opacity:0.8;
}
@mixin center{
    top:50%;
    left:50%;
    transform:translate(-50%, -50%);
}
@mixin GeneralFont{
    font-family: 'roboto', Arial, Helvetica, sans-serif;
}
@mixin SpecialFont{
    font-family: 'shrikhand', 'roboto', Arial, Helvetica, sans-serif;
}
@mixin sectionHeading{
    margin:0 auto 0 25px;
    padding:25px 0 25px 0;
    font-size: 25px;
    @media screen and (min-width:768px){
        margin:0;
        text-align: center;
    }
}
@mixin imageProperties{
    width:100%;
    height:auto;
    object-fit: cover;
}
@mixin bigBtn{
    display:block;
    margin:15px auto 15px auto;
    text-decoration: none;
    color:$white;
    width:300px;
    height:80px;
    background:linear-gradient(170deg,$color-secondary, $color-primary);
    font-family:'roboto', Arial, Helvetica, sans-serif ;
    font-size:20px;
    line-height:80px;
    text-align: center;
    border-radius: 40px;
    cursor: pointer;
}
@mixin mediumBtn{
    display:block;
    margin:35px auto 0 auto;
    text-decoration: none;
    border:none;
    color:$white;
    width:200px;
    height:60px;
    background:linear-gradient(170deg,$color-secondary, $color-primary);
    font-family:'roboto', Arial, Helvetica, sans-serif ;
    font-size:20px;
    line-height:60px;
    text-align: center;
    border-radius: 30px;
    cursor:pointer;
}
@mixin heartAnimation{
    .empty{
        z-index:2;
        position:absolute;
        top:50%;
        left:50%;
        transform:translate(-50%, -50%);
    }
    .full{
        z-index:1;
        position:absolute;
        top:50%;
        left:50%;
        transform:translate(-50%, -50%) scale(0);
        transition:all 0.8s ease-in;
        background:linear-gradient(170deg,$color-secondary, $color-primary);
        background-clip: text;
        color:transparent;
    }
    &:hover .full{
        transform:translate(-50%, -50%) scale(1);
    }
}