@mixin shadow{
    box-shadow: 0 0 10px 0px $dark-grey;
}
@mixin center{
    top:50%;
    left:50%;
    transform:translate(-50%, -50%);
}
@mixin textFont{
    font-family: 'roboto', Arial, Helvetica, sans-serif;
}
@mixin sectionHeading{
    margin:25px auto 25px 25px;
    font-size: 25px;
}
@mixin imageProperties{
    width:100%;
    height:auto;
    object-fit: cover;
}